.bg-car-green {
    background-color: #4ade80; /* Tailwind green-400 */
  }
  
  .bg-car-blue {
    background-color: #60a5fa; /* Tailwind blue-400 */
  }
  
  .bg-car-orange {
    background-color: #f97316; /* Tailwind orange-500 */
  }
  
  .bg-car-purple {
    background-color: #a78bfa; /* Tailwind purple-400 */
  }
  